html {
  background: url(../assets/notebook.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Francois One', sans-serif;
  width: 70%;
  margin: 0 auto;
}

main {
  width: 70%;
  margin: 0 auto;
}

section {
  background-color: rgba(128,128,128,0.9);
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

header {
  margin-top: 50px;
  padding-top: 10px;
}

#header {
  background:rgba(0,0,0,0.5);
  color: white;
}

#submitButton {
  border-radius: 0px;
  -webkit-appearance: none;
}

.nav-row {
  padding-bottom: 45px;
}

.nav > li {
  background-color: black;
  color: white;
  border: 1px solid white;
}

li>a {
  color: white;
  border-radius: 0px;
}

li a:focus, li > a:hover {
  background-color: white;
  color: black;
  border-radius: 0px;
  /*border: 1px solid black;*/
}

.home-content > p {
  text-align: center;
}

.home-content > p> a {
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

.employee-form {
  width: 425px;
  margin: 0 auto;
  margin-bottom: 25px;
}

label {
  margin: 5px;
  color: white;
  font-weight: bold;
}

input {
  background: none;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  display: inline-block;
  font-family: 'Francois One', sans-serif;
}

input:focus {
  background-color: #fff;
  color: black;
  outline: none;
}

input:active {
  outline: none;
}

input[type=text], input[type=number] {
  width: 97%;
  border: none;
  border-bottom: solid 2px black;
  font-family: 'Poiret One', cursive;
}



input[type=submit] {
  margin-top: 5px;
  width: 98%;
  padding: 14px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-style: solid;
  /*-webkit-appearance: none;*/
}

h3 {
  text-align: center;
  color: white;
}

.employee {
  display: none;
}

h2 {
  text-align: center;
  color: white;
}

table {
  margin: 0 auto;
  border: 1px solid black;
  background-color: rgba(255,255,255, 0.7);

}

th, td {
  text-align: center;
  padding: 5px;
}

#employeeListTable tr:first-child th {
  border-bottom: solid 1px black;
}

.delete {
  padding: 5px 7px;
  background-color: black;
  color: white;
  border-style: solid;
}

.inactive {
  background-color: black;
  color: rgb(237, 67, 55);
}

.active input {
  color: black;
}

.inactive input {
  border: 1px solid white;
  margin: 2px;
  color: rgb(237, 67, 55);
}

.footer {
  padding-top: 50px;
  text-align: center;
}
