<h3>Monthly Salary Budget</h3>
<p>Our current monthly budget is: {{budget.currentBudget | currency}}</p>
<label for="monthlyBudget">Set New Budget:</label>
<input type="number" id="monthlyBudget" name="monthlyBudget" ng-model="budget.newBudgetInput">
<input type="submit" value="Set New Budget" id="submitButton" ng-click="budget.newBudget()"/>
<div class="employeeList">
  <h3>Budget History</h3>
  <table style="width:60%" id="employeeListTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Budget</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="budgetData in budget.budget">
        <td>{{budgetData.date}}</td>
        <td>{{budgetData.budget | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
